@import "themes/index.scss";

html,
body,
#app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-very-dark-blue);
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
